body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-image: url("https://media.giphy.com/media/3o7TKV0WqNdJULOACs/giphy.gif");
    background-size: cover;
    height: 100vh; /* Set the height of the header to the full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header h1 {
    margin: 0;
    text-shadow: 1px 1px black;
  }

nav {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.nav-tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-tabs li {
    flex: 1;
    text-align: center;
}

.nav-tabs a {
    color: white;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

main {
    display: flex;
}

section {
    flex: 1;
    padding: 20px;
}

#register form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#register label,
#scores th {
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

#register input[type="text"],
#register input[type="email"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
}

#scores table {
    border-collapse: collapse;
    width: 100%;
}

#scores td,
#scores th {
    border: 1px solid gray;
    padding: 10px;
    text-align: left;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}
